/* * {
  outline: 1px solid red;
} */
.footer {
  display: flex;
  padding: 2rem 6rem;
  background-color: var(--DarkBlue);
  align-items: center;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content ul li a {
  font-weight: 300;
  font-size: 14px;
  color: var(--White);
  transition: ease 0.3s;
}

.footer-content ul li a:hover {
  color: var(--LimeGreen);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.footer-logo img {
  width: 50%;
  height: auto;
}

.footer-logo-socials {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 10px;
}

.footer-logo-socials img {
  width: 80%;
  height: auto;
}

.footer-nav {
  display: flex;
}

.footer-cta {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.footer-cta span {
  color: var(--GrayBlue);
  font-size: 12px;
}

@media all and (max-width: 768px) {
  .footer {
    padding: 2rem 5rem;
  }
  .footer-logo {
    margin-right: -9rem;
    gap: 2rem;
  }
  .footer .footer-logo .logo {
    width: 40%;
  }

  .footer-logo-socials img {
    width: 70%;
    height: auto;
  }

  .footer-cta .btn {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
}

@media all and (max-width: 425px) {
  .footer {
    overflow: hidden;
    gap: 1rem;
    padding: 2rem 2rem;
    flex-direction: column;
  }

  .footer-logo {
    text-align: center;
    margin-left: 10px;
  }

  .footer-logo .logo {
    text-align: center;
    margin-left: 10px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-nav {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-nav ul {
    margin: 0;
    padding: 0;
  }

  .footer-cta {
    align-items: center;
  }
}
